.dialog {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(114,114,114, 0.5);
  top: 0;
  left: 0;
  
}


.dialog:not(:target):not([open]) { 
  display: none; 
}

.dialog__content {
  padding: 0.625rem;
  position: fixed;
  width: calc(100vw - 140px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border-radius: 0.625rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90vh;
  max-width: 656px;
}

.dialog__header {
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
}

.dialog__close-btn {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
}

.dialog__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 0.635rem;
}