.header__label {
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  z-index: 500;
  background-color: transparent;
}

.header__label:has(+input:checked) {
  display: none;
}

.header__checkbox {
  display: none;
}

.header__label + .header__checkbox:checked + .header__buzz {
  display: none;
}

.header__logo {
  margin-right: auto;
}

.header__main {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  position: relative;
  display: flex;
  background-color: #FFFFFF;
}

.header__nav-menu {
  padding: 2.5rem 1.5625rem;
  background-color: var(--alice-blue);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 100%;
  left: -200%;
  transition: left 0.3s ease-in-out;
}

.header__nav-menu_open {
  left: 0;
}

.header__search {
  margin-bottom: 3rem;
}

.header__search-input {
  padding: 0.365rem 1rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--text-color-70);
  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.91667 2.16667C6.25906 2.16667 4.66935 2.82515 3.49725 3.99725C2.32515 5.16935 1.66667 6.75906 1.66667 8.41667C1.66667 10.0743 2.32515 11.664 3.49725 12.8361C4.66935 14.0082 6.25906 14.6667 7.91667 14.6667C9.57427 14.6667 11.164 14.0082 12.3361 12.8361C13.5082 11.664 14.1667 10.0743 14.1667 8.41667C14.1667 6.75906 13.5082 5.16935 12.3361 3.99725C11.164 2.82515 9.57427 2.16667 7.91667 2.16667ZM2.31874 2.81874C3.8034 1.33408 5.81704 0.5 7.91667 0.5C10.0163 0.5 12.0299 1.33408 13.5146 2.81874C14.9993 4.3034 15.8333 6.31704 15.8333 8.41667C15.8333 10.2353 15.2076 11.9894 14.0753 13.3911L19.7564 19.0779L18.5769 20.2554L12.8974 14.5702C11.4946 15.7057 9.738 16.3333 7.91667 16.3333C5.81704 16.3333 3.8034 15.4993 2.31874 14.0146C0.834075 12.5299 0 10.5163 0 8.41667C0 6.31704 0.834075 4.3034 2.31874 2.81874Z' fill='%2316103E'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0.365rem center;
  background-color: transparent;
}

.header__btns {
  display: flex;
  gap: 1.365rem;
}

.header__search-btn {
  display: none;
}

.header__contact-btn {
  padding: 0.365rem 1.125rem;
  background-color: var(--red-color);
  color: #FFFFFF;
  border-radius: 0.365rem;
}

.header__burger {
  min-width: 2.5rem;
  min-height: 2.5rem;
  display: flex;
  background-color: var(--winter-color);
  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.8' width='20' height='3' rx='1.5' fill='%2316103E'/%3E%3Crect opacity='0.8' y='6' width='20' height='3' rx='1.5' fill='%2316103E'/%3E%3Crect opacity='0.8' y='12' width='20' height='3' rx='1.5' fill='%2316103E'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0.365rem;
}

.header__burger_open {
  background-color: #16103E;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.12109' y='0.368164' width='20' height='3' rx='1.5' transform='rotate(45 2.12109 0.368164)' fill='white'/%3E%3Crect x='0.132812' y='14.1426' width='20' height='3' rx='1.5' transform='rotate(-45 0.132812 14.1426)' fill='white'/%3E%3C/svg%3E%0A");
}