.lang-btn {
  padding: 0.625rem;
  background-color: #FFFFFF;
  box-shadow: 0 1px 5px rgba(0, 26, 66, 0.15);
}

.lang-btn::after {
  content: url("data:image/svg+xml,%0A%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M5.65005 7.01231C5.53338 7.01231 5.42105 6.99131 5.31305 6.94931C5.20438 6.90797 5.10838 6.84564 5.02505 6.76231L0.525049 2.26231C0.375049 2.11231 0.300049 1.9373 0.300049 1.7373C0.300049 1.5373 0.375049 1.36231 0.525049 1.21231C0.675049 1.06231 0.850049 0.987305 1.05005 0.987305C1.25005 0.987305 1.42505 1.06231 1.57505 1.21231L5.65005 5.2873L9.72505 1.21231C9.87505 1.06231 10.05 0.987305 10.25 0.987305C10.45 0.987305 10.625 1.06231 10.775 1.21231C10.925 1.36231 11 1.5373 11 1.7373C11 1.9373 10.925 2.11231 10.775 2.26231L6.27505 6.76231C6.19172 6.84564 6.09605 6.90797 5.98805 6.94931C5.87938 6.99131 5.76672 7.01231 5.65005 7.01231Z' fill='%2316103E'/%3E%3C/svg%3E%0A");
}