.navbar-item__title {
  display: flex;
  margin-bottom: 1.635rem;
}

.navbar-item__title::after {
  content: url("data:image/svg+xml,%0A%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M5.65005 6.51231C5.53338 6.51231 5.42105 6.49131 5.31305 6.44931C5.20438 6.40797 5.10838 6.34564 5.02505 6.26231L0.525049 1.76231C0.375049 1.61231 0.300049 1.4373 0.300049 1.2373C0.300049 1.0373 0.375049 0.862305 0.525049 0.712305C0.675049 0.562305 0.850049 0.487305 1.05005 0.487305C1.25005 0.487305 1.42505 0.562305 1.57505 0.712305L5.65005 4.7873L9.72505 0.712305C9.87505 0.562305 10.05 0.487305 10.25 0.487305C10.45 0.487305 10.625 0.562305 10.775 0.712305C10.925 0.862305 11 1.0373 11 1.2373C11 1.4373 10.925 1.61231 10.775 1.76231L6.27505 6.26231C6.19172 6.34564 6.09605 6.40797 5.98805 6.44931C5.87938 6.49131 5.76672 6.51231 5.65005 6.51231Z' fill='%2316103E'/%3E%3C/svg%3E%0A");
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}

.navbar-item:hover {
  .navbar-item__title::after {
    transform: rotate(180deg);
  }
  .navbar-item__submenu {
    padding-bottom: 1.365rem;
    display: flex;
    flex-direction: column;
    gap: 0.635rem;
}
}