:root {
  --bg-color: #F1F3F5;
  --text-color: #16103E;
  --text-color-70: #16103EB3;
  --text-color-90: #16103EE6;
  --winter-color: #E3E8EC;
  --alice-blue: #F6F8FA;
  --red-color: #E92128;
  --font-size-sm: 0.875rem;
  --font-size-h2: 1.625rem;
}